.hero-container {
  max-width: 100px;
  margin: auto;
  display: flex;
  border: 1px solid red;
}

.hero-text {
  flex-basis: 50%;
  margin-top: 100px;
  position: absolute;
}

.hero-image {
  width: 10%;
  text-align: right;
}

.image {
  max-width: 10%;
  height: auto;
  opacity: 50%;
}
